body {
    background-color: rgb(20, 0, 30);
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #4FFFB0;
}

.navbar-nav .nav-link:hover {
    font-size: 20px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-dark {
    background-color: rgb(18, 1, 46);
}

.circular-image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #CCC;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-image {
    width: 100%;
    height: auto;
    display: block;
}

.title {
    color: #4FFFb0;
}

.name h1, .name h3{
    color: #fff;
    font-size: 44px;
}

.social_links {
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #CCC;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social_links img {
    width: 100%;
    height: auto;
    display: block;
}