{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-5">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <img src="{% static 'images/avatar-2.png' %}" alt="image" class="about_image">
    </div>

    <div class="col-7 text-left text-light">
        <h2>Hello !</h2>
        <p class="fs-5">
            I bring a diverse background encompassing roles such as a full Stack Python Developer, curriculum associate,
            engineering teacher, and headmistress. Alongside, I possess experience in the networking sector.
        </p>
        <p class="fs-5">
            As a full stack python developer, I am dedicated to helping others learn Python and DRF while continously
            improving my own programming skills. I have a strong foundation in python and a deep understanding of its
            concepts, syntax, and best practices.
        </p>
    </div>
</div>

<div class="row my-2">
    <h2 class="text-center" style="color: #4FFFB0;">My Tech Stack</h2>

    <div class="d-flex justify-content-around align-items-center">
        <img src="{% static 'images/html.png' %}" alt="html" width="70" height="70" class="img-fluid">

        <img src="{% static 'images/css.png' %}" alt="css" width="70" height="70" class="img-fluid">

        <img src="{% static 'images/javascript.png' %}" alt="javascript" width="70" height="70" class="img-fluid">

        <img src="{% static 'images/python.png' %}" alt="python" width="70" height="70" class="img-fluid">

        <img src="{% static 'images/angular.png' %}" alt="angular" width="70" height="70" class="img-fluid">

        <img src="{% static 'images/django.png' %}" alt="django" width="70" height="70" class="img-fluid">

    </div>

</div>
{% endblock content1 %}